body {
    background-image: url(https://storage.googleapis.com/webdesignledger.pub.network/LaT/edd/2016/02/seamless-background-textures-21-780x780.jpg);
    
}

header {
    position: relative;
    margin-left: 50px;
}

header img {
    width: 30px;
    position: absolute;
    left: 10px;
    top: 10px;
}

header h1 {
    margin-left: 50px;
    font-family: 'Diphylleia', serif;
    color: #383838;
}

.divider {
    background-color: #d585a1cb;
    color: white;
    text-align: center;
    margin: 30px 0;
}

.newPost p {
    margin: 0;
}

textarea {
    display: block;
    border: 2px #d585a1 solid;
    border-radius: 10px;
    opacity: 50%;
}

button {
    border: 1px #d585a1 solid;
    color: #d585a1;
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.821);
    
    border-radius: 10px;
    margin-top: 5px;
}

.newPost h2, .content h2 {
    font-family: 'Diphylleia', serif;
    color: #383838;
}

.content, .newPost {
    font-family: 'Montserrat', sans-serif;
}

.content h2 {
    text-align: center;
}

article {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    margin: 15px;
    padding: 0 10px;

    background-color: rgba(255, 255, 255, 0.5);
}

ul {
    list-style-type: circle;
  }

article h1 {
    margin-left: 30px;
    color: #d585a1;
    text-decoration: underline;
    text-transform: uppercase;
}
